<div class="field-set field-set--narrow">

  <div class="form-group">
    <label class="form-group__label">{{localize 'ACKS.items.subtype'}}</label>
    <div class="form-group__fields">
      <select name="system.subtype" value="{{system.subtype}}" data-dtype="String">
        {{selectOptions config.item_subtypes selected=system.subtype localize=true}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="form-group__label">{{localize 'ACKS.items.quantity'}}</label>
    <div class="form-group__fields">
      <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="Number"/>
      /
      <input type="text" name="system.quantity.max" value="{{system.quantity.max}}" data-dtype="Number"/>
    </div>
  </div>

</div>
